@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Martian+Mono:wght@500&family=Montserrat:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.container{
    border: 2px solid red;
    width: 550px;
    height: 280px;
    border: 10px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
}
.container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.logo{
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    position:relative;
    margin-top: -90px;
    display: block;
    outline: 4px solid #124e3a;
    transition: all 1s;
}
hr{
    border: 1px solid #124e3a;
    margin-top: 20px;
    width: 90%;
    transition: all 1s;
}
span{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Lugrasimo';
    font-weight: bold;
    color: #124e3a;
    transition: all 1s;
}
.name{
    display: flex;
    align-items: center;
    transition: all 1s;
}
.otherInfo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: all 1s;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    color: #124e3a;
    transition: all 1s;
}
img{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: all 1s;
}